<div class="container">
    <div class="section d-flex align-items-center justify-content-center">
        <div class="title oxanium-bold">CONNECT <br> <span class="slogan">Say it with connect.</span></div>
    </div>
</div>